<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fatigue_Calculator_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fatigue_Calculator_Desktop.Properties.Settings>
            <setting name="lowThreshold" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="highThreshold" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="defaultRosterLength" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="IdentityLookupFile" serializeAs="String">
                <value>%app.path%People.csv</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value>%documents%**fatiguelog.csv</value>
            </setting>
            <setting name="DeviceId" serializeAs="String">
                <value>TestDevice</value>
            </setting>
            <setting name="IDLookupType" serializeAs="String">
                <value>dynamic</value>
            </setting>
            <setting name="FixedID" serializeAs="String">
                <value>SingleUser</value>
            </setting>
        </Fatigue_Calculator_Desktop.Properties.Settings>
    </applicationSettings>
</configuration>